<!DOCTYPE html>
<html lang="en">
    <%-include('../Components/templateHead', {
        pageName:'Login', 
        cssFile: [
            '/css/Artigos/artigos.css',
        ]
    }) %> 
<body style="font-size:62,5%">
    <%-include('../Components/Header/headerComponent',{
        navigator:{
            label: ["Início", "Sobre Nós", "Artigos"],
            routes:[`/inicio`,`/sobrenos`,`/artigos/page1`]
        },
        loginSigin:{
            label: ["Login", "Cadastrar"],
            routes: [`/usuarios/login`,`/usuarios/cadastro`]
        }

    }) %>  

    <% 
        dummy = {
            id:data[0].id,        
            type: "main",
            name:data[0].imageHighlight,
            title:data[0].titleArticle,
            label:data[0].textArticle.substring(0,data[0].textArticle.indexOf(".")+1)+"...",
            ref: "/artigos/view/"+data[0].id,
        };  
  
        cards = [];
        for(let idx=1; idx < data.length;idx++){
            cards.push(
              {
                id:data[idx].id,        
                type: "card",
                name:data[idx].imageHighlight,
                title:data[idx].titleArticle,
                label:data[idx].textArticle.substring(0,data[idx].textArticle.indexOf("."))+"...",
                ref: "/artigos/view/"+data[idx].id,
              });
        };
      
    %>

    <div style="display: flex;flex-direction: column; justify-content: center; align-items: center; margin: 40px; box-sizing: border-box;">
        <!-- <div class="artigosTitle" style="display: flex; justify-content: flex-start; width: 80%;margin: 1rem;">
            <h1 style="font-family: 'Noto Sans SC', sans-serif;">Artigos</h1>
        </div> -->
        <div class="artigos mainCard" style="width: 100%; height: 500px; margin-bottom: 2rem;">
            <div style="width:100%; height:100%;box-sizing:border-box;position: relative;">
                <div style="width:100%; height:100%; margin-bottom: 1rem;
                display: flex; justify-content: space-around;background-image: url(<%=dummy.name%>); 
                background-position: top; position: relative;background-repeat:no-repeat; background-size:cover" class="artigosPrimeiroArtigo">
                </div>
                <div style="position: absolute; top: 60%; left: 10%; z-index: 1;">
                    <h1 style="color: black;margin-left: 0rem; margin-right: 3rem; margin-top: 1rem; font-family: 'Noto Sans SC', sans-serif;font-size:1.4em;font-weight: bold;">
                        <%=dummy.title  %> 
                    </h1>
                    <h3 style="color:black; 0rem; margin-right: 3rem; font-family: 'Noto Sans SC', sans-serif;font-size: 1.2em; font-weight: 400;">
                        <%-dummy.label  %>                 
                    </h3>
                    <a href=<%=dummy.ref%> style="color:red; font-size: 1.2rem; font-weight: 600;"> Ler mais > </a>
                </div>
                <a href=<%=dummy.ref%> style="display:none; color:red"> Leia mais  </a>
            </div>
        </div>
        <% console.log("view cards ----------------------------",cards) %>
        <div class="artigosCardContainer" style="width: 100%!important; display: flex;margin: 0 auto; flex-wrap: wrap; justify-content: space-between;">
            <%cards.forEach((element, index) =>{%>
                <% if(index < numDisplay){ %>
                    <div class="artigosCard" style="flex-basis: 600px; margin-bottom: 1rem; width:45%; overflow:hidden; background-position: center;background-size: cover; height: 500px;
                    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.5); border-radius: 5px;">
                        <div style="overflow: hidden; height: 60%;background-image: url(<%=element.name%>); 
                            background-position: 25% 75%; background-size:cover; background-repeat:no-repeat;">
                        </div>
                        <div style=" position:relative; height:30%;">
                            <h1 style="margin-left: 2rem; margin-right: 1.7rem; margin-top: 1rem; font-family: 'Noto Sans SC', sans-serif; font-size:1.4em; font-weight: bold;"><%=element.title%></h1>
                            <h3 style="margin-left: 2rem; margin-right: 1.7rem; font-family: 'Noto Sans SC', sans-serif; font-size: 1.2em;"><%- element.label %></h3>
                        </div>
                        <a href=<%=element.ref %> style="color: red;height:10%;margin-left: 2rem; font-weight:600;"> Leia mais > </a>
                    </div>
                <% } %> 
            <%})%>
            
        </div>
        <div style=" position: relative; width: 80%; display: flex; justify-content: center;">
            <nav aria-label="Page navigation articles">
                <ul class="pagination justify-content-center">

                  <%for (let i=1; i <= totalPages; i++) { %>
                    <li class="page-item"><a class="page-link" href="page<%= i %>"><%= i %></a></li>
                  <% } %>  

                </ul>
              </nav>                     

        </div>
    </div>
    <%-include('../Components/footer') %>
</body>
</html>