<!DOCTYPE html>
<html lang="en">
    <%-include('../Components/templateHead', {
        pageName:'Login', 
        cssFile: [
            '/css/Artigos/artigos.css',
        ]
    }) %> 
<body style="font-size:62,5%;">
    <%-include('../Components/Header/headerComponent',{
        navigator:{
            label: ["Início", "Sobre Nós", "Artigos"],
            routes:[`/inicio`,`/sobrenos`,`/artigos/page1`]
        },
        loginSigin:{
            label: ["Login", "Cadastrar"],
            routes: [`/usuarios/login`,`/usuarios/cadastro`]
        }

    }) %>  

 

    <div style="display: flex;flex-direction: column; justify-content: left; align-items: center; margin: 20px; box-sizing: border-box;">

        <img src=<%= article.imageArticle %> alt="imagem principal" width="70%" height="70%">
        <h1 style="font-family: 'Noto Sans SC', sans-serif; font-weight:bold; font-size:1.8em; font-weight: bolder!important;"> <%= article.titleArticle %> </h1>
        
        <div style="justify-content: left;">
            <p style="font-size:1.2em;"> <%- article.textArticle %> </p>
        </div>


    </div>
    <%-include('../Components/footer') %>
</body>
</html>