<style>

button{
    color: black;
    background-color: white;
    border: none;
}

.header{
    width: 100%;
    background-color: black;
    display: flex;
    position: relative;
}

.iconNavigatorContainer{
    width: 20%; 
    display:flex; 
    box-sizing: border-box;
    min-width: 200px;
    overflow: hidden;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > .image{
    transform: scale(0.7);
    min-width: 300px;
}

.logo > .image:hover{
    cursor: pointer;
}

.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLogin nav{
    width: 80%;
}

.navigator{
    color: white;
    position: relative;
    list-style-type:none;
    display:flex;
    margin: 0;
    align-items: center;
    font-size: 1.3rem;
    justify-content: start;
}

.navigator > .headerForm > li > button:hover{
    cursor: pointer;
    color: blueviolet!important;
}

.navigator > .headerForm > li{
    margin: 30px;
    background-color: black!important;
}


.loginSigin{
    position: relative;
    display:flex;
    margin: 0;
    padding: 0;
    list-style-type:none;
    color: white;
    width: 20%; 
    box-sizing: border-box;
}

.loginSigin > .headerForm{
    flex:1
}

.loginSigin > .headerForm > div{
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 100%;
    font-size: 1.3rem;
}

.loginSigin > .headerForm:nth-child(2) > div{
    background-color: white;
    color: black;
}

.loginSigin > .headerForm:nth-child(2) > div > button{
    background-color: white;
    color: black;
}

.loginSigin > .headerForm > div > button:hover{
    cursor: pointer;
    color: blueviolet!important;
}

@media screen and (min-width:1070px){
    
    .navLogin{
        display: flex!important;
        flex-direction: row!important;
        width: 80%!important;
    }
    
    .navLogin nav{
        width: 80%!important;
    }

    .navigator{
        flex-direction: row!important;
        padding-left: 40px!important;
        width: 80%!important;
    }

    .navigator > .headerForm > li {
        border: none!important;
        height: auto!important;
        margin: 30px!important;
        width: auto!important;  
        background-color: black!important;
    }

    .navigator > .headerForm > li > button {
        color: white!important;
        background-color: black!important;
    }

    .loginSigin{
        width: 20%!important;
    }

    .loginSigin > .headerForm:nth-child(1) > div > button{
        background-color: black;
        color: white;
    }

}


@media screen and (max-width:1070px){

    .headerForm{
        width: 100%;
        border: .5px solid black;
    }

    .header{
        flex-direction: column;
    }

    .iconNavigatorContainer {
        width: 100%!important;
    }

    .navLogin{
        display: none;
    }

    .navigator > .headerForm > li {
        border: .5px solid black!important;
        background-color: white!important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigator > .headerForm > li > button {
        background-color: none;
    }


    .hamburger{
        width: 20%;
        display: flex;
        align-items: center;
    }

    .loginSigin > .headerForm:nth-child(1) >  div > button{
        background-color: black;
        color: white;
    }

    .logo{
        width: 100%!important;
    }
 
}
</style>

<% if(typeof navigator !== 'undefined'){ %>

        <header class="fluid-container header">
            <div class="iconNavigatorContainer">
                <div class="logo">
                    <img class="image" src="/images/Logo.png"> </img>
                </div>
                <div class="hamburger">
                    <%-include('./hamburgerComponent', {
                        options:{
                            display:'none', 
                            id:'login'
                        }}) 
                    %> 
                </div>
            </div>
            <div class='navLogin'>
                <nav >
                    <ul class="navigator" >
                        <% navigator['label'].forEach((element, index) => {%> 
                            <form class="headerForm" action="<%=(navigator['routes'][index])?navigator['routes'][index]:null%>" method="GET">
                                <li><button ><%=element%> </button></li>
                            </form>
                        <%}); %> 
                </ul>
                </nav>
                <% if(typeof loginSigin !== 'undefined'){ %>
                    <div class="loginSigin">
                        <% loginSigin['label'].forEach((element, index) => {%>
                            <form class="headerForm" action="<%=(navigator['routes'][index])?loginSigin['routes'][index]:null%>" method="GET">    
                                <div><button><%=element%> </button></div>
                            </form>
                        <%}); %> 
                        
                    </div>    
                <%}%>
                                    
            </div>
        </header>    
<%}else{ %>
    <div> Faltou objeto navigator </div>
<%}%>

